<div class="task_main">
  <div class="user_index">
    <div class="users">
      <% @users.each do |user| %>
        <div class="user">
          <div class="user-name">
            <a href="#"><%= user.first_name %><%= user.last_name%>さん</a>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="user_calendar">
  <h1>1ヶ月のスケジュールです！</h1>
    <div id='calendar'></div>
  </div>
</div>
