<div class="task_main">
  <div class="user_index">
    <%= render partial: "side_bar", locals: { user: @user } %>
  </div>

  <div class="user_calendar">
  <h1>1ヶ月のスケジュールです！</h1>
    <div id='calendar'></div>
  </div>
</div>
