<div class="task_main">
  <div class="user_index">
    <%= render partial: "side_bar", locals: { user: @user } %>
  </div>

  
  <div class="user_calendar">
  <h1><%= @user.nickname %>さんの1ヶ月のスケジュールです！</h1>
    <div id='onlyCalendar'></div>
  </div>
</div>

