/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  box-sizing: border-box;
}

/*
フッターのCSS
*/
.header{
  height: 100px;
  width: 100%;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_title{
  padding-left: 20px;
  color: black;
  font-size: 50px;
  font-weight: bolder;
}

.header_link{
  color: black;
  font-size: 20px;
  padding-right: 30px;
}


.link {
  text-decoration: none;
}

/*
タスク表示ページのCSS
*/

.task_main{
  display: flex;
}

.user_index{
  width: 120px;
  height: 100vh;
  background-color:aliceblue;
}

.user{
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-name a{
  text-decoration: none;
}

.user_calendar{
  width: calc(100vw - 120px);
  height: 100%;
}

div.fc-event-title {
	white-space: normal;
}

.fc-event.end-tasks{
  text-decoration: line-through 3px;

}

/*
タスク詳細画面のCSS
*/

.task-edit-main{
  display: flex;
  justify-content: space-around;
}
 